<div id="grid" style="width: 900px; margin-left:100px;">
    <h5>click on song to play</h5>
  <kendo-grid [data]="gridData"
              [pageSize]="pageSize"
              (pageChange)="pageChange($event)"
              [pageable]="true"
              [skip]="skip"
              [sortable]="{
                allowUnsort: allowUnsort
                }"
              [sort]="sort"
              (sortChange)="sortChange($event)"
              [filterable]="true"
              [filter]="filter"
              (dataStateChange)="dataStateChange($event)"
              (cellClick)="open($event)"
              (add)="addHandler($event)"
              (save)="saveHandler($event)"
              (remove)="removeHandler($event)"
              (cancel)="cancelHandler($event)"
              (edit)="editHandler($event)"
              [resizable]="true"
        
  >

      <ng-template kendoGridToolbarTemplate>
          
          <button kendoGridAddCommand>Add new</button>&nbsp;
          
          <button kendoGridPDFCommand icon="file-pdf" style="float: right;">Export to PDF</button>
          <button type="button" kendoGridExcelCommand icon="file-excel" style="float: right;">Export to Excel</button>
      </ng-template>
      <kendo-grid-column field="song" title="Song" width="50%">
      </kendo-grid-column>
      <kendo-grid-column field="artist" title="Artist" width="45%">
      </kendo-grid-column>
      <kendo-grid-column field="genre" title="Genre" width="35%">
          <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.genre}}
            </ng-template>
            <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-column="column"
            let-formGroup="formGroup">
            <kendo-dropdownlist
            [defaultItem]="{genre:'Select Genre'}"
            [data]="genre"
            textField="genre"
            valueField=""
            [valuePrimitive]="true"
            [formControl]="formGroup.get('genre')"
          >
          </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>
  

      <kendo-grid-column field="rating" filter="numeric" title="Rating" width="34%">
      </kendo-grid-column>

      <kendo-grid-command-column title="Command" width="40%">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>&nbsp;
            <button kendoGridRemoveCommand>Delete</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard' : 'Cancel' }}</button>
        </ng-template>
      </kendo-grid-command-column>

      <kendo-grid-pdf fileName="Products.pdf" [allPages]="true" [repeatHeaders]="true"> 
          <kendo-grid-pdf-margin top="1cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
          <kendo-grid-column field="song" title="Song" >
            </kendo-grid-column>
            <kendo-grid-column field="artist" title="Artist" >
            </kendo-grid-column>
            <kendo-grid-column field="genre" title="Genre">
            </kendo-grid-column>
            <kendo-grid-column field="rating"  title="Rating" >
            </kendo-grid-column>
      </kendo-grid-pdf>

      <kendo-grid-excel fileName="Products.xlsx" [fetchData]="allData"></kendo-grid-excel>
  </kendo-grid>
  <div kendoDialogContainer></div>

  <kendo-window title="Youtube" [(top)]="windowTop" [(left)]="windowLeft" *ngIf="opened" (close)="close()" [height]="460" [width]="690">
      <iframe id="myIframe" src="about:blank" width="100%" height="95%"  frameborder="0" allowfullscreen></iframe>
    </kendo-window>
 
</div>


<div>
  <button id="chart-export-button"  (click)="exportChart()">
    Export as Image
  </button>
    <kendo-chart id="chart" #chart style= "width:650px;" 
    [seriesColors]="['#f44242', ' #f48041', '#f4be41', '#d0f441', '#64f441', '#41f4b5','#41b2f4','#236abc', '#7e28a3','#d725f7']">
      <kendo-chart-title text="Genre Pie Chart"></kendo-chart-title>  
      <kendo-chart-legend position="bottom"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="pie"
            [data]="pieData"
            field="value"
            categoryField="category">
          </kendo-chart-series-item>
        </kendo-chart-series>

        <kendo-chart-tooltip>
          <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category">
             {{category}} : {{ value }}
          </ng-template>
        </kendo-chart-tooltip>

      </kendo-chart>
     

</div>