/* You can add global styles to this file, and also import other style files */
h1, h5{
    margin-left:300px;
}

#chart-export-button{
    margin-top: 100px;
    margin-left:525px;
}

h4{
    float: center;
}

